---
import Layout from '../layouts/Layout.astro'
import tourData from '../data/TourData.ts'
import Concert from '../components/Concert.astro';
import { Image } from 'astro:assets';
import Icon from 'astro-icon';
import railSurfing from '../../public/images/railSurfing.jpg'
import dramatic from '../../public/images/dramatic.jpg'
import CMS from 'decap-cms-app'
// Initialize the CMS object
CMS.init()
---
<Layout>
	<div class="grid grid-cols-1 md:grid-cols-3">
		<Image class="h-full object-cover" src={railSurfing} alt="Skunch band photo"/>
		<div class="flex flex-col items-center w-full gap-8">
			<iframe class="w-full" height="400" src="https://www.youtube.com/embed/F88BniHLUiE?si=UMqIKVgYRL6vPa1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<div class="flex flex-col items-center w-full gap-8 px-4">
				<h2 class="text-2xl font-bold">Tour Dates</h2>
				<div class="w-full md:w-3/4 grid grid-cols-3 gap-2">
					<div class="text-left font-bold">Venue</div>
					<div class="text-left font-bold">Date</div>
					<div class="text-left font-bold">Note</div>
					{tourData.map(concert => (
						<Concert
						venue={concert.venue}
						feat={concert.note}
						url={concert.url}
						date={concert.date}
						/>
				))}
				</div>
			</div>
			<iframe class="bg-[#282828] py-10 border-8 border-white" src="https://open.spotify.com/embed/track/0s8wlLadanezwfSW5s4MgU?utm_source=generator&theme=0" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<div class="flex flex-col items-center gap-4 pb-4">
				<h2>Socials</h2>
				<ul class="flex gap-8">
					<li class="text-black transition hover:text-red hover:scale-110 duration-110 hover:-translate-y-2">
						<a href="https://www.instagram.com/we.are.skunch">
							<Icon class="w-8" pack="ion" name="logo-instagram" />
						</a>
					</li>
					<li class="text-black transition hover:text-red hover:scale-110 duration-110 hover:-translate-y-2">
						<a href="https://www.tiktok.com/@skunchtheband">
							<Icon class="w-8" pack="ion" name="logo-tiktok" />
						</a>
					</li>
					<li class="text-black transition hover:text-red hover:scale-110 duration-110 hover:-translate-y-2">
						<a href="https://open.spotify.com/artist/0b7coTkjBNgqqqRQzwXjmF?si=ucVaUj-8T1y1wwiO0c6d8w&dl_branch=1">
							<Icon class="w-8" pack="ion" name="musical-notes" />
						</a>
					</li>
					<li class="text-black transition hover:text-red hover:scale-110 duration-110 hover:-translate-y-2">
						<a href="https://www.youtube.com/channel/UCOfe_3FwpjCVWYoslc_cdGA">
							<Icon class="w-8" pack="ion" name="logo-youtube" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<Image class="h-full object-cover" src={dramatic} alt="Skunch band shot" />
	</div>
</Layout>