---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/pixelify-sans"
import { Image } from "astro:assets";

const fetchData = async () => {
  try {
      const response = await fetch(`${process.env.BASE_URL}/contentful-fetch`);
      const data = await response.json();
      return data;
  } catch (error) {
    console.error('Error fetching data:', error);
    return [];
  }
};

const contentfulData = await fetchData();
---
<Layout>
    <div class="font-pixels mt-10 md:mt-0 max-w-screen-xl mx-auto">
        <body class="">
          <h1 class="font-pixels text-4xl font-bold">This is the skunchbucket</h1>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          {contentfulData.map(item => (
            <article class="border-2 border-red p-4 gap-8">
                <div class="pb-4">
                    <h2 class="text-3xl">{item.fields.venue}</h2>
                    <p>{item.fields.date}</p>
                    <span>{item.fields.notes}</span>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    {item.fields.images && item.fields.images.map(image => (
                        <div class="">
                            <Image 
                                src={`https:${image.fields.file.url}`}
                                alt={image.fields.title}
                                width={image.fields.file.details.image.width}
                                height={image.fields.file.details.image.height}
                            />
                        </div>
                    ))}
                    </div>
            </article>
        ))}
          </div>
            
        </body>
    </div>
</Layout>
<script>

</script>