---
import { Image } from "astro:assets";
import Button from "./Button.astro";
const {title, img, url, date, width, height, tracklist} = Astro.props
---
<div class="flex flex-col md:flex-row items-start md:items-center p-4 gap-8">
    <div class="md:w-1/2">
        <Image class="w-full aspect-square object-cover" src={img} width={width} height={height} alt={`Image of ${title}`}/>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col px-4">
            <h2 class="font-gloria text-5xl font-bold">{title}<h2>
            <span class="italic text-black/50">{date}</span>
        </div>
        <ul class="text-left">
            {tracklist.map((listItem, index) => (
                <li>{`${index+1}. ${listItem}`}</li>
            ))}
        </ul>
        <Button>
            <a href={url}>Listen</a>
        </Button>
    </div>
</div>