---
const {venue, feat, url, date} = Astro.props
const dateOptions = {
    year: "numeric",
    month: "numeric",
    day: "numeric"
}

---
<!-- <tr class="mx-auto">
    <a href="/">
        <td class="">{venue}</td>
        <td>{date.toLocaleString('en-US', dateOptions)}</td>
        <td>{feat}</td>
    </a>
</tr> -->

<a href={url} class="contents group">
    <div class="group-hover:scale-110 transition duration-110 group-hover:text-red">{venue}</div>
    <div class="group-hover:scale-110 transition duration-110 group-hover:text-red">{date.toLocaleString('en-US', dateOptions)}</div>
    <div class="group-hover:scale-110 transition duration-110 group-hover:text-red">{feat}</div>
</a>

